.body {
  background-color: #1ec7c8;
  color: white;
  text-align: center;
}

input {
  color: white;
  font-size: 18px;
  padding: 5px 80px;
  border: solid 1px white;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
}
button {
  background: #1ec7c8;
  color: white;
  font-size: 18px;
  padding: 5px 120px;
  border: solid 1px white;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  align-items: center;
}

button:hover {
  background: #edb56c;
  cursor: pointer;
  border-radius: 4px;
}

ul {
  padding: 0;
  margin-top: 20px;
}
li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

* {
  box-sizing: border-box;
}

hr {
  color: #1ec7c8;
  font-weight: bold;
}

div {
  display: block;
}

.suelo-logo {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: purple;
}

.subheading_top {
  margin-top: 70px;
  margin-bottom: 0;
}

h1 {
  font-size: 40px;
  margin-top: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 15px;
}

.section-header {
  color: #1ec7c8;
}
.features-list__header {
  color: #1ec7c8;
}

.features-list__content {
  color: #abacb2;
  margin-bottom: 20px;
}

.testimony-row__right {
  padding: 20px;
  margin: auto;
}

.email-input {
  border-radius: 20px;
}

.listed {
  background-color: #e9fafa;
}
.features-list__image,
.features-list__description {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}
.features-list__item {
  display: table-cell;
  width: 50%;
  float: left;
  margin: 1.5rem 0 0;
  padding: 0 2.5rem;
}

.wrapper {
  margin-left: calc(10% - 10px);
  margin-right: calc(10% - 10px);
  max-width: 1210px;
}

.testimony__inner {
  padding-top: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
  box-sizing: border-box;
  display: block;
  background-color: #1ec7c8;
  height: 100%;
  color: white;
  text-size-adjust: 100%;
}
